<script>
import { ref } from 'vue';

const lines = [
    [ 0, 1, 2 ],
    [ 3, 4, 5 ],
    [ 6, 7, 8 ],
    [ 0, 3, 6 ],
    [ 1, 4, 7 ],
    [ 2, 5, 8 ],
    [ 0, 4, 8 ],
    [ 2, 4, 6 ]
]

export default {
    setup() {
        const winner = ref(0);
        const player = ref(1);
        const grids = ref([
            0,0,0,
            0,0,0,
            0,0,0
        ]);

        const setGrid = (index) => {
            if (grids.value[index] !== 0) return;
            if (winner.value !== 0) return;

            grids.value[index] = player.value;
            player.value = -player.value;
            winner.value = getWinner();
        }

        const setSymbol = (number) => {
            return number === 0 ? '' : number === 1 ? 'O' : 'X'
        }

        const getWinner = () => {
            for (let i = 0; i < 8; i++) {
                const line = lines[i];
                const [ a, b, c ] = line;
                const sum = grids.value[a] + grids.value[b] + grids.value[c];

                if (sum === 3) return 1;
                if (sum === -3) return -1;
            }

            return 0;
        }

        const reset = () => {
            grids.value = [ 0, 0, 0, 0, 0, 0, 0, 0, 0 ]
            player.value = 1;
            winner.value = 0;
        }

        return {
            // data
            winner,
            player,
            grids,
            setGrid,
            setSymbol,
            getWinner,
            reset
        };
    }
}
</script>

<template>
    <div class='app'>
        <div class='board'>
            <div
                class='grid'
                v-for='(grid, index) in grids' :key='index'
                @click='setGrid(index)'
            >
                {{ setSymbol(grid) }}
            </div>
        </div>

        <div class='info'>
            <span>Player: {{ setSymbol(player) }}</span>
            <br>
            <span>Winner: {{ setSymbol(winner) }}</span>
            <br>
            <button @click="reset()">reset</button>
        </div>
    </div>    
</template>

<style lang='sass' scoped>
.app
    .board
        display: flex
        flex-flow: row wrap
        width: 400px
        height: 400px
        align-items: flex-start
        
        .grid
            width: 33%
            height: 33%
            border: 1px solid gray
            box-sizing: border-box
            font-size: 60px
            text-align: center
            line-height: 130px

    .info
        font-size: 40px
</style>